.root {
  flex-direction: row !important;
  justify-content: space-between;
  top: auto !important;
  bottom: 0;
  padding: 5px 20px;
}

.root > * {
  width: calc(100% / 3);
}

.link {
  color: #dddddd;
  cursor: pointer;

  &:hover {
    color: #bbbbbb;
  }
}
