.root {
  height: 100%;
  padding: 0 20px;
  overflow: hidden;
}

.root :global(.fc-media-screen.fc-theme-standard) {
  height: 100%;
  overflow: hidden;
}

.root :global(.fc-view-harness.fc-view-harness-passive) {
  margin-bottom: 20px;
  overflow: scroll;
  border-top: 1px solid #ddd;
}

.root :global(.fc-toolbar.fc-header-toolbar) {
  margin-bottom: 10px;
}
