/* .fc {
  height: 100%;
  overflow: hidden;
} */
:global {
  .fc-view-harness {
    overflow: scroll !important;
  }
}

/* .fc-view-harness.fc-view-harness-passive {
  margin-bottom: 20px;
  overflow: scroll;
  border-top: 1px solid #ddd;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 10px;
} */
